.lista{
    list-style: none;
    padding: 0;
}
.contenedor-barra{
    width: 100%;
    display: flex;
   
    justify-content: center;
}
.contenedor-boton{
    display:  flex;
    justify-content: space-between;
    margin-right: 10px;
}