.container-objetivo-empleado{
    display: flex;
    justify-content: center;
    
    align-items: center;
    height: 96vh;
    width: 100%;
}
.cuadrado{
    background-color: rgb(255, 227, 167);
    padding: 10px;
    width: 90%;
    height: 90% ;
    border-radius: 15px;
    box-shadow: -1px 1px 15px 2px rgba(79, 79, 79, 0.75);
    -webkit-box-shadow: -1px 1px 15px 2px rgba(77, 77, 77, 0.75);
    -moz-box-shadow: -1px 1px 15px 2px rgba(85, 85, 85, 0.75);

}
hr{
    border: 1px solid #ff9100;
    width: 95%;
}

.boton-obj-emp{
    margin: 10px;
}