
* {
   box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding-top: 19px;
  
  background-repeat: no-repeat;
  background-position: left top 40px;
  background-size: 25% auto;
  
}
body{
  position: relative;
}
body::before {
  content: "";
  position: absolute; /* Posiciona el pseudo-elemento sobre el contenido */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  background-repeat: no-repeat;
  background-position: left top 11px;
  filter: grayscale(100%);
  background-size: 10% auto; /* Ajusta el tamaño como desees */
  opacity: 0.5; /* 50% de opacidad para el fondo */
  z-index: -1; /* Asegúrate de que el fondo esté detrás del contenido */
}


.linea{
  border: 1px solid  orange;
  width: 95%;
}
/*
::-webkit-scrollbar {
  width: 12px; 
}
::-webkit-scrollbar-track {
  background: #f1f1f1;  Color de la pista (track) 
}

::-webkit-scrollbar-thumb {
  background-color: #888;  Color del "pulgar" (thumb) 
  border-radius: 10px;  Radio del borde 
  border: 3px solid #f1f1f1;  Borde alrededor del pulgar 
}

::-webkit-scrollbar-thumb:hover {
  background: #555;  Color del pulgar al pasar el mouse 
}
*/